:root {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}

html, body{
  height: 100%;
  width: 100%;
}
* {
  box-sizing: border-box;
}

body {
  padding: 24px;
  background: whitesmoke;
}

#color-picker-label {
  font-size: large;
}

#result-palette {
  margin-top: 32px;
  display: flex;
  gap: 20px 6px;
}

.color-box {  
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border: 1px solid #fff;
  border-radius: 16px;
}
